.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;

}
.sideBar {
  width: 25%;
  overflow: auto;
}
#search {
  width: 100%;
  font-size: 1rem;
  height: 2rem;

}
.venueList {
    padding: 1rem;
    margin-top: 0;
}
.listItem {
    list-style: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background: #00704a;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
